/* Make sure body has no margin */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* default for body text */
  overflow-x: hidden; /* prevents horizontal scroll */
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
  background-color: #fafafa;

}



/* All sections take full viewport height */
.section {
  position: relative;
  height: 110vh;
  overflow: hidden;      /* horizontal center */
}



/* Different background colors for each section */
#section1 { 
  background-color: #aabac9;
  
  background-image: url("/visit-suffolk/img/431A9488.jpg");
  background-size: cover;
  background-position: center;
  
 } /* teal */
#section2 { background-color: #2a2b38;
  background-image: url("/visit-suffolk/img/IMG_4379.jpg");
  background-size: cover;
  background-position: center;
 } /* blue */
#section3 { background-color: #263326;
  background-image: url("/visit-suffolk/img/IMG_4402.jpg");
  background-size: cover;
  background-position: center; } /* orange */

/* slide in transitions */
.slide-left, .slide-right {
  opacity: 1; 
}

.slide-left {
  position: absolute;
  left: 10%;         /* distance from left edge */
  bottom: 10%; 
z-index: 0;
max-width: 300px;

}

.slide-right {
  position: absolute;
  max-width: 300px;
  right: 10%;        /* distance from right edge */
  top: 10%;  
}

#right2 {
  right: 5%;
  top: 65%;
  width:60%;

}



h1 {
  color: rgb(255, 255, 255);
  font-size: 11em;
  margin-left: 5%;
  margin-top: 5%;
  z-index: 100;
  line-height: 1;
}

.main-h1 {
font-size: 6em;
color: rgba(0, 0, 255, 0.6);

}


h2 {
  font-family: 'Montserrat'; /* headings use Slabo 27px */
  color: rgb(255, 255, 255);
  font-size: 4em;
  margin-left: 2%;
margin-top: 8%;
z-index: 1000;
position: relative;
}

h4 {
  font-family: 'Montserrat'; /* headings use Slabo 27px */
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: 'Slabo 27px', serif;
  z-index: 1000;
  position: relative;
}

.textbox {
  position: absolute;       /* absolute positions relative to .section */
  bottom: 10px;             /* distance from bottom of section */
  right: 20px;              /* distance from right edge */
  padding: 15px;
  max-width: 40%;         /* optional width */
}

.textsection {
  position: absolute;       /* absolute positions relative to .section */
  top: 30%;             /* distance from bottom of section */
  left: 10%;              /* distance from right edge */
  padding: 15px;
  max-width: 550px; 
}

p {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 12px;;
}


/* top nav */
.top-nav {
  position: fixed;
  width: 100%;
  display: flex;
  height: 60px;
  top: 0;
  font-family: 'Slabo 27px', serif;
  z-index: 1000;
  font-size: 0.7em;
  font-weight: 50;
}

.top-nav a {
  flex: 1;                     /* each link takes 1/3 of nav */
  text-align: center;
  line-height: 60px;
  color: rgb(28, 52, 31);
  text-decoration: none;

  font-weight: bold;
  transition: background 0.3s;
  border: 2px solid white;
border-radius: 40px;
}

.top-nav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(119, 134, 6);
}





.hero, .hero2 {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed; /* stays in place */
  background-position: center;
}

.hero-title, .hero-title2 {

  font-size: 11rem;
  text-align: center;
  font-weight: 2000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: transparent;               /* hide the text color */
  background-image: url('/visit-suffolk/img/431A9412.jpg');
  background-size: cover;
  background-attachment: fixed;     /* fixed background for parallax effect */
  background-position: center;
  -webkit-background-clip: text;    /* clip background to text */
  background-clip: text;
}

.hero2, .hero-title2 {
  background-image: url('/visit-suffolk/img/431A9402.jpg');

}


.png-anim {
  width: 300px; /* adjust */
  max-width: 90%;
  margin: 0 auto;
  display: block;
}


@media (max-width: 768px) {

}

@media (max-width: 468px) {
  h1 {
    font-size: 5em;
    margin-left: 5%;
    z-index: 100;
    position: absolute;
  }

  h2 {
    font-size: 3.5em;
    
  }
  .hero2, .hero-title2 h1 {
        font-size: 2.5em;

  }
  .hero-title {
    font-size: 5em;
  }
  .slide-left {
    position: absolute;
    left: 10%;         /* distance from left edge */
    bottom: 10%; 
    width: 80%;
  z-index: 0;

  }
  
  .slide-right {
    position: absolute;
    width: 60%;
    right: 10%;        /* distance from right edge */
    top: 10%;  
    z-index: 10;
  }
  
  #right2 {
    right: 10%;
    top: 50%;
    width:70%;
  
  }

  .top-nav {
    
    font-size: 1em;
  }

  .top-nav a {
    line-height: 1;
    font-size: 1em;
padding-top: 2px;
align-items: center;

  }
p {
  z-index: 1000;
  position: absolute;
}  
.textsection {
  position: absolute;       /* absolute positions relative to .section */
  top: 35%;             /* distance from bottom of section */
  left: 10%;              /* distance from right edge */
  padding: 15px;
  max-width: 100%; 
}

.hero-title, .hero2 img {
  background-attachment: scroll; /* REQUIRED on mobile */
  width: 100%;
}


}